.hero {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 400px;
    max-width: 480px;

    background-color: #C4C4C4;
    background-image: var(--gra), url(../../images/hero-tel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: var(--gra), url(../../images/hero-tel-2х.jpg);
        }

    @include tablet {
        height: 459px;
        max-width: 768px;
        background-image: var(--gra), url(../../images/hero-tab.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: var(--gra), url(../../images/hero-tab-2x.jpg);
            }
    }

    @include desktop {
        height: 600px;
        max-width: 1600px;
        background-image: var(--gra), url(../../images/hero.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: var(--gra), url(../../images/hero-2x.jpg);
            }
    }   
}

.hero__title {

    margin: 0 auto 30px auto;
    padding: 0 15px 0 15px;

    @include fonts (900, 26, 1.62, 0.06);
    text-align: center;
    text-transform: uppercase;
        
    color: var(--additional-color);
    
    @include tablet {
        @include fonts (900, 26, 1.62, 0.06);
        width: 360px;
    }

    @include desktop {
        @include fonts (900, 44, 1.36, 0.06);
        width: 696px;
    }
}

.hero__btn {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    width: 200px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;

    font-family: "Roboto";
    
    @include fonts (700, 16, 1.88, 0.06);

    color: var(--additional-color);
    background-color: var(--link-color);
    border-width: 1px;
    border-radius: 4%;
    border-color: var(--link-color);
    
    &:hover,
    &:focus {
        color: var(--link-color);
        background-color: var(--additional-color);
        border-color: var(--link-color);
        border-radius: 0%;
    }
}

